body {
  background: rgb(255, 255, 255);
  padding: 65px 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup {
  box-shadow: -2px 1px 12px 4px rgba(0, 0, 0, 0.2);
  margin-top: 15%;
  border-radius: 10px;
  background: white;
  display: flex;
  width: 800px;
  max-width: 1000px;
}
.signup-image {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  flex: 1;
  background-image: url("~@/assets/auth/login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.signup-form {
  flex: 1;
  padding: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  margin: 10px 0px;
  width: 95%;
  border: 2px solid #dfe4e9;
  padding: 10px;
  border-radius: 5px;
}

.btn-register-primary {
  background: #321fdb;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
  width: 100%;
}
